{
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "bracketSameLine": false,
    "endOfLine": "lf"
}
